<div class="col-md-6" style="height: 350px;">
    <div class="card admin-profile-card mb-4">
        <div class="card-body d-flex align-items-center flex-column">
            <div>
                <img src="../../../../assets/images/user/avatar-1.jpg" alt="Admin Avatar" class="rounded-circle me-3"
                    style="width: 140px; height: 140px; object-fit: cover;">
            </div>
            <div>
                <h3 class="mb-3">{{userData.username}}</h3>
                <p class="mb-4 text-muted">Administrator</p>
                <ul class="list-unstyled mb-0">
                    <li><strong>Email:</strong>{{userData.email}}</li>
                    <li><strong>Phone:</strong> 08000000</li>
                </ul>
            </div>
        </div>
    </div>
</div>