<div class="row">
    <div class="col-xl-12">
        <app-card cardTitle="Basic Table" [options]="false" blockClass="table-border-style">
            <div class="table-responsive">
                <table class="table">
                    <colgroup>
                        <col style="width: 70%">
                        <col style="width: 30%">
                    </colgroup>
                    <thead>
                        <tr>
                            <th>Profile</th>
                            <th class="text-center">Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        @for (seller of sellers; track seller) {
                            <tr>
                                <td>
                                    <div class="d-flex align-items-center">
                                        <div class="align-items-center">
                                            <div>
                                                <img src="assets/images/user/avatar-1.jpg" alt="Profile Image" class="rounded-circle me-2" width="40" height="40">
                                            </div>
                                        </div>
                                        <div>
                                            <div>
                                                <span>{{ seller.fullname }}</span>
                                            </div>
                                            <div>
                                                <span>{{ seller.email }}</span>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                                <td class="d-flex justify-content-center">
                                    <div class="d-flex flex-column justify-content-center gap-2 w-50">
                                        <button class="btn btn-success" (click)="onClickDetails(seller.seller_id)">Details</button>
                                        <button class="btn btn-info" (click)="onSellerProducts(seller.seller_id)">Product Listing</button>
                                    </div>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </app-card>
    </div>
</div>