<div *ngIf="!loading">

    <div class="row">
        <div class="col-md-6" style="height: 350px;">
            <div class="card admin-profile-card mb-4">
                <div class="card-body d-flex align-items-center flex-column">
                    <div>
                        <img src="../../../../assets/images/user/avatar-1.jpg" alt="Admin Avatar" class="rounded-circle me-3"
                            style="width: 140px; height: 140px; object-fit: cover;">
                    </div>
                    <div>
                        <h3 class="mb-3">{{userData.username}}</h3>
                        <p class="mb-4 text-muted">Administrator</p>
                        <ul class="list-unstyled mb-0">
                            <li><strong>Email:</strong>{{userData.email}}</li>
                            <li><strong>Phone:</strong> 08000000</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6" style="height: 350px;">
            <div class="card bg-c-blue">
                <div class="card-header borderless">
                    <h5 class="text-white">Earnings</h5>
                </div>
                <div class="card-block" style="padding: 0 25px">
                    <div class="earning-text mb-0">
                        <h3 class="mb-2 text-white f-w-300">
                            {{ totalSales.monthly | currency:'IDR':'Rp':'1.0-0' }}
                            <i class="feather icon-arrow-up teal accent-3"></i>
                        </h3>
                        <span class="text-uppercase text-white d-block">Total Earnings Last Week</span>
                    </div>
                    <div id="widget-line-chart" class="WidgetlineChart2 ChartShadow mt-0 mb-4" style="height: 180px"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        @for (sale of sales; track sale) {
            <div class="{{ sale.design }} col-xl-4">
                <app-card [hidHeader]="true">
                    <h6 class="mb-4">{{ sale.title }}</h6>
                    <div class="row d-flex align-items-center">
                        <div class="col-9">
                            <h3 class="f-w-300 d-flex align-items-center m-b-0">
                                <i class="feather {{ sale.icon }} f-30 m-r-10"></i>
                                {{ sale.amount | currency:'IDR':'Rp':'1.0-0' }}
                            </h3>
                        </div>
                        <div class="col-3 text-end">
                            <p class="m-b-0">{{ (sale.percentage | number:'1.1-1') + '%' }}</p>
                        </div>
                    </div>
                    <div class="m-t-30">
                        <ngb-progressbar type="progress-bar {{ sale.progress_bg }}" height="7px"
                            [value]="sale.progress"></ngb-progressbar>
                    </div>
                </app-card>
            </div>
        }
    </div>
</div>
